.login {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
}

.login-form button {
  padding: 12px;
}
